[submodule "extern/glfw"]
	path = extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "extern/imgui"]
	path = extern/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/stb"]
	path = extern/stb
	url = https://github.com/nothings/stb
[submodule "extern/qapla-engine-tester"]
	path = extern/qapla-engine-tester
	url = https://github.com/Mangar2/qapla-engine-tester.git
	branch = 0.5.0
